build/
.gradle/
.idea/
.gradletasknamecache
classes/
out/
.classpath
.project
.settings/
bin/
**/src/generated/
*.iml
.swagger-codegen/
gradle-wrapper.jar
gradle-wrapper.properties
.DS_Store
events/.DS_Store
events/events-auth/.DS_Store
api-sources/
perf-tests/target
