# prometheus.yml

global:
  scrape_interval:     15s 
  evaluation_interval: 15s 
  scrape_timeout:      15s

  external_labels:
    monitor: 'my-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
     - targets: ['localhost:9090']

  - job_name: 'kafkaexporter'
    static_configs:
     - targets: ['10.0.0.10:7071']