version: '2'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
    - "2181:2181"
      
  kafka:
    image: wurstmeister/kafka:2.11-1.1.0
    depends_on:
    - zookeeper
    ports:
    - "9092:9092"
    - "9992:9992"
    environment:
      KAFKA_JMX_OPTS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=kafka -Dcom.sun.management.jmxremote.rmi.port=9992"
      JMX_PORT: 9992
      #KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ADVERTISED_HOST_NAME: 192.168.99.100
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # KAFKA_CREATE_TOPICS: userManagement:2:1,roleManagement:2:1

  kafka-manager:
    image: hlebalbau/kafka-manager
    depends_on:
    - zookeeper
    - kafka
    ports:
    - "9000:9000"
    environment:
      ZK_HOSTS: zookeeper:2181

  kafka-topics:
    image: wurstmeister/kafka:2.11-1.1.0
    depends_on:
    - zookeeper
    - kafka
    - kafka-manager
    volumes:
      - ./files/scripts/create-topics.sh:/create-topics.sh
    command: bash create-topics.sh  

  mongo:
    image: mongo
    ports:
    - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root     
      
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
    - 9412:9411

  jaeger:
    image: jaegertracing/all-in-one
    container_name: jaeger
    environment:
    - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
    - 5775:5775/udp
    - 6831:6831/udp
    - 6832:6832/udp
    - 5778:5778
    - 16686:16686
    - 14268:14268
    - 9411:9411